@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Banco';
  src: url('/fonts/Banco.woff') format('woff');
}

body {
  background: #000;
  font-family: 'Banco', sans-serif;
}

